body{
    background-color:#F2F4F4;
    margin:40px 10px ;
}

.btn-editar{
    background-color: #F39C12 ;
    color: white;
}

.btn-eliminar{
    background-color: #DC143C;
    color: white;
}

.volver-id{
    padding: 0px 0px 20px 10px;
}

tr{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#volver{
    font-size: 24px;
    color: #626567;
    
}
